* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vw;
}
#root {
  height: 100%;
}

#main-container {
  height: 100%;
}

#quiz-container {
  height: 100%;
}

#quiz-container {
  display: flex;
  justify-content: space-between;
}

#nope {
  background-color: rgb(12, 88, 159);
}